# Cartelle di build di CMake
build/
out/

# File compilati
*.exe
*.dll
*.so
*.pyd
*.obj
CMakeCache.txt
CMakeFiles/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# VS Code (ignoriamo le impostazioni locali per non sporcare la repo)
.vscode/